.contactItem {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  border-bottom: 1px solid #f2f2f2;
  background: white;
  cursor: pointer;
  padding: 15px 12px;
}

.contactItem:hover {
  background: #ebebeb;
}

.profileIcon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 12px;
}

.contactName {
  width: 100%;
  font-size: 16px;
  color: black;
}

.messageText {
  width: 100%;
  font-size: 14px;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.8);
}

.messageTime {
  font-size: 12px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.45);
  white-space: nowrap;
}
